@page "/szobak/kategoriak/uj"
@inject ISzobaRepository SzobaRepo
@inject IValidationService Validation
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>
    Új szobakategória
</PageTitle>

<a class="btn btn-primary" href="/szobak/kategoriak">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
    </svg> Mégse
</a>

<div class="row justify-content-center mt-5">
    <div class="col-6">
        <EditForm FormName="CreateKategoriaForm" Model="Kategoria" OnValidSubmit="CreateKategoria" autocomplete="off">
            <h3>Új kategória</h3>
            <div class="mb-3">
                <label for="megnev">Megnevezés:</label>
                <InputText id="megnev" @bind-Value="Kategoria.Megnevezes" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="egysegar">Egységár (HUF/fő/éjszaka):</label>
                <InputNumber id="egysegar" @bind-Value="Kategoria.EgysegAr" class="form-control" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Mentés</button>
            </div>
            <DataAnnotationsValidator />
            <FormWarningsDisplay FormWarnings="FormWarnings" />
        </EditForm>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    public SzobaKategoria Kategoria { get; set; } = new();
    private List<string> FormWarnings = new();

    private async Task CreateKategoria()
    {
        FormWarnings = await Validation.IsSzobaKategoriaValid(Kategoria);

        if (!FormWarnings.Any())
        {
            await SzobaRepo.CreateKategoriaAsync(Kategoria);
            Navigation.NavigateTo("/szobak/kategoriak");
        }
        
        return;

    }
}
